@font-face {
	font-family: 'PT-Astra-Sans'; 
	src: local('PT-Astra-Sans'),
		url(../fonts/PT-Astra-Sans_Regular.ttf); 
}

@font-face {
	font-family: 'PT-Astra-Sans bold'; 
	src: local('PT-Astra-Sans bold'),
		url(../fonts/PT-Astra-Sans_Bold.ttf); 
}

div, a, span, td, th, button, h1, h2, h3, label{
  font-family: 'PT-Astra-Sans bold';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
